/* Montserrat */
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i&display=swap');
/* Raleway */
@import url('https://fonts.googleapis.com/css?family=Raleway:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap');

.App {
  margin: 0px;
  padding: 0px;
  text-align: center;
  box-sizing: border-box;
}

.Main {
  text-align: center;
  padding: 15vh;
  margin: 0px;
  height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/* TOOLTIP */

.tooltip {
  background-color: '#C5FFDC';
}


/* EDITOR COMPONENT */

.Editor {
  margin-left: 10%;
  margin-right: 10%;
  padding: 8%;
  padding-top: 4%;
}

#editor-circular-button {
  z-index: 2;
  top: 15vh;
  left: 10vw;
  width: 3rem; 
  height: 3rem; 
  border-radius: 1.5rem;
  background-color: white; 
  position: fixed;
  box-shadow: 0 0 10px rgba(0,0,0,0.1); 
}

@media (max-width: 570px) {
  .Editor {
    margin: 0%;
    margin-top: 30%;
  }
  #editor-circular-button {
    top: 5vh;
    left: 2vw;
    width: 40px; 
    height: 40px; 
    border-radius: 20px;
    box-shadow: 0 0 0px rgba(0,0,0,0.1); 

  }
}

#editor-circular-button-plus {
  z-index: 2;
  top: 25vh;
  left: 10vw;
  width: 3rem; 
  height: 3rem; 
  border-radius: 1.5rem;
  background-color: white; 
  position: fixed;
  box-shadow: 0 0 10px rgba(0,0,0,0.1); 
}

#editor-circular-button.active {
  box-shadow: 0 0 10px rgba(0,0,0,0.15);   
}

#editor-circular-button-icon {
  margin-top: 0.30rem;
}

/* Editor text styles */
.header-one {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 65px;
  line-height: 115%;
  margin-bottom: -10px;
  color: rgb(55, 55, 55);
}

@media (max-width: 570px) {
  .header-one {
    font-size: 45px;
  }
}

.header-two {
  font-family: 'Raleway';
  font-weight: 300;
  font-size: 30px;
  line-height: 125%;
  color: rgb(100, 100, 100);
}

.header-three {
  font-family: 'Raleway';
  font-weight: 500;
  font-size: 22px;
  line-height: 125%;
  color: rgb(75, 75, 75);
}

.editor--p {
  text-align: justify;
  font-family: 'Montserrat';
  font-weight: 300;
  color: rgb(65, 65, 65);

}

@media (max-width: 570px) {
  .editor--p{
    font-size: 14px;
    text-align: justify;
    text-justify: inter-word;
  }
}

/* Masonry Layout  */
.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  width: auto;
  margin-bottom: 2.5%;
}

.my-masonry-grid_column {
  background-clip: padding-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* 
  Dropzone
*/

.dropzone {
  height: 100%;
}

/* 
  Profile card.
*/

#profile-button {
  position: relative;
  margin-top: 30%;
  margin-left: 10%;
  background-color:  rgb(55, 55, 55);
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

#profile-button-text {
  color: white
}



/* 
  GENERAL
*/

.Text {
  font-weight: 300;
  font-style: italic;
  margin-bottom: 1.5rem;
}

.Button {
  min-height: 40px;
  max-height: 50px;
  min-width: 120px;
  max-width: 130px;
  padding-top: 0.7rem;
  border-radius: 0.3rem;
  background-color: rgb(10, 15, 80);
  box-shadow: 0 0 10px rgba(0,0,0,0.2); 
}

.Button-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  margin-top: 0rem;
  color: white;
}

/* HEADER COMPONENT */
#Header {
  z-index: 5;
  font-size: 24px; 
  width: 100%; 
  height: 5rem; 
  background-color: white; 
  position: fixed;
  top: 0;
  text-align: center;
}

#Header.active {
  box-shadow: 0 0 10px rgba(0,0,0,0.15);   
}

#Modal-Image {
  height: 25rem;
  width: 38rem;
  position: fixed;
  top: 10rem;
}

#Header-Image {
  height: 1.4rem;
  width: 8rem;
  position: fixed;
  top: 1.5rem;
  left: 2.5rem;
}

@media (max-width: 570px) {
  #Header { 
    height: 8vh; 
  }
  #Header-Image {
    height: 1.2rem;
    width: 7rem;
    top: 1rem;
    left: 0.8rem;
  }
}

/* !! maybe not in use anymore */
.small-circle-container {
  top: 1.45rem;
  right: 10rem;
  display: inline;
  position: fixed;
}

/* !! maybe not in use anymore */
#header-profile-link {
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 15px;
  display: inline;
}
/* !! maybe not in use anymore */
#header-profile-link-container {
  text-decoration: none;
  color:rgb(85, 85, 85);
}
/* !! maybe not in use anymore */
#header-profile-link:hover {
  font-weight: 600;
}



/* LANDING PAGE */
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
}

button {
	font-family: 'Montserrat', sans-serif;
}

.bold {
	font-weight: 500;
}

.underline {
	border-bottom: 3.5px solid rgb(80, 80, 80);
}

.logo-container,
.nav-links,
.cart {
	display: flex;
}

.logo-container {
	flex: 1;
}
.logo {
	font-weight: 400;
	margin: 5px;
}
nav {
	flex: 2;
}
.nav-links {
	justify-content: space-around;
	list-style: none;
}
.nav-link {
	color: #5f5f79;
	font-size: 18px;
	text-decoration: none;
}
.cart {
	flex: 1;
	justify-content: flex-end;
}

.presentation {
	padding: 5vw;
	display: flex;
	width: 100%;
	margin: auto;
	min-height: 90vh;
	align-items: center;

}

.presentation.section {
	padding-left: 15vw;
	padding-right: 15vw;
	min-height: 15vh;
	max-height: 100vh;
}

.introduction {
  flex: 1;
  padding-top: 15vh;
	padding-left: 5vw;
	padding-right: 5vw;
}

.introduction.section{
	flex: 1;
	padding-left: 5vw;
	padding-right: 5vw;
}

.intro-text h1 {
  text-align: left;
	line-height: 1.3;
	font-size: 6.5vh;
	font-weight: 600;
	background: linear-gradient(to right, #494964, #6f6f89);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.intro-text p {
  text-align: left;
  margin-top: 35px;
  font-family: 'Montserrat';
	font-size: 20px;
	font-weight: 300;
	line-height: 1.5;
	color: #585772;
}

.intro-text.section h1 {
	line-height: 1.3;
	font-size: 36px;
	font-weight: 500;
	background: linear-gradient(to right, #494964, #6f6f89);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.intro-text.section p {
	font-size: 18px;
	font-weight: 200;
	line-height: 1.5;
	color: #585772;
}

.intro-text.section.text h1 {
	text-align: center;
	line-height: 1.3;
	font-size: 36px;
	font-weight: 500;
	background: linear-gradient(to right, #494964, #6f6f89);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.presentation.section.final.footer {
  margin-top: 200px;
  margin-bottom: 200px;
  background-color: #fff;
}

.intro-text.section.text.final.footer {
  margin-top: 200px;
  background-color: 'rgba(150, 150, 150, 0.4)';
}
 
.intro-text.section.text.description {
  padding: 10%;
	margin-bottom: 10%;
}

.intro-text.section.text.description p {
	padding-left: 0vw;
	padding-right: 0vw;
	font-size: 28px;
	font-weight: 200;
	line-height: 1.5;
}

.intro-text.section.text p {
	text-align: center;
	margin-top: 35px;
	font-size: 18px;
	font-weight: 200;
	line-height: 1.8;
	color: #585772;
}

.cta {
	padding: 50px 0px 0px 0px;
}

.cta-add {
	border: 2px solid black;
	background: transparent;
	color: black;
	width: 150px;
	height: 50px;
	cursor: pointer;
  font-size: 16px;
  margin-right: 70%;
}

.cover {
	flex: 1;
	display: flex;
	justify-content: center;
  height: 60vh;
  padding-top: 10vh;
}

.cover.section {
	flex: 1;
	display: flex;
	justify-content: center;
	max-height: 45vh;
}

.cover img {
	border-radius: 1vw;
	height: 100%;
	animation: drop 1.5s ease;
}

.final {
	background-color: rgb(245, 245, 245);
	flex-direction: column;
}

.main-screenshot {
	flex: 1;
	display: flex;
  justify-content: center;
  margin-top: 6%;
	animation: drop 1.5s ease;
}

.main-screenshot img {
	width: 52vw;
	border-radius: 0.5vw;
	animation: drop 1.5s ease;
  box-shadow: 0 15px 25px rgba(0,0,0,0.2); 
}

.screenshot {
	flex: 1;
	display: flex;
	justify-content: center;
	animation: drop 1.5s ease;
}

.screenshot img {
	width: 70vw;
	border-radius: 0.5vw;
	animation: drop 1.5s ease;
	box-shadow: 0 15px 25px rgba(0,0,0,0.2); 
  

}

.screenshot img:hover {
	box-shadow: 0 15px 35px rgba(0,0,0,0.2); 
}

.landing-footer-note {
	margin-top: -100px;
	font-size: 14px;
}

@media screen and (max-width: 800px) {
  .Main {
    padding: 5vh;
  }
	.presentation {
    width: 100%;
    flex-direction: column;
    margin: 0px;
	}
	.introduction {
    width: 100%;
		margin-top: 0vh;
    display: flex;
		text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
	}
	.intro-text h1 {
    text-align: center;
		font-size: 42px;
  }
	.intro-text p {
    text-align: center;
		font-size: 18px;
    margin-top: 15%;
    margin-bottom: 15%;
  }
  .main-screenshot img {
    width: 90vw;
    height: 55vw;
    border-radius: 0.5vw;
    animation: drop 1.5s ease;
    box-shadow: 0 15px 25px rgba(0,0,0,0.2); 
  }

  .screenshot img {
    width: 90vw;
    border-radius: 0.5vw;
    animation: drop 1.5s ease;
    box-shadow: 0 15px 25px rgba(0,0,0,0.2); 
  }

	.cta {
		margin-top: 4vw;
		padding: 10px 10px 10px 0px;
  }
  .cta-add {
    margin-right: -0%;
  }
	.cover img {
		height: 60%;
	}

  .intro-text.section.text.description {
    padding: 0%;
    margin-bottom: 4%;
  }
  .presentation.section.final {
    max-height: 1000px;
  }

  .presentation.section.final.footer {
    margin-top: 20px;
    background-color: #fff;
  }
  
  .intro-text.section.text.final.footer {
    background-color: #fff;
  }
	.cover.section {
    padding-top: 5vh;
    max-height: 35vh;
    min-height: 35vw;
  }
	.presentation.section {
		flex-direction: column;
		margin-bottom: 2vh;
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .introduction.section {
    padding-top: 0vh;
  }
	.intro-text.section h1 {
		font-size: 24px;
	}
	.intro-text.section p {
		font-size: 16px;
	}
	.screenshot img{
		height: 30vh;
	}
	.intro-text.section.text.description p {
		font-size: 18px;
  }
  #empty.Button {
    position: relative;
    left: 35%
  }
  .home-container{
    padding-top: 10%;
    flex-direction: column-reverse;
  }
  .item-container {
    flex: 3;
    margin-left: 0%;
    padding-top: 5%;
  }
}

