/* Montserrat */
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i&display=swap');
/* Raleway */
@import url('https://fonts.googleapis.com/css?family=Raleway:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

.App {
  text-align: center;
}

.Main {
  text-align: center;
  padding: 10rem;
}

.Editor {
  margin-left: 8rem;
  margin-right: 8rem;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/* Editor text styles */
.header-one {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 65px;
  line-height: 115%;
  margin-bottom: -10px;
  color: rgb(55, 55, 55);
}

.header-two {
  font-family: 'Raleway';
  font-weight: 300;
  font-size: 30px;
  line-height: 125%;
  color: rgb(100, 100, 100);
}

.header-three {
  font-family: 'Raleway';
  font-weight: 300;
  font-size: 25px;
  line-height: 125%;
  color: rgb(75, 75, 75);
}

.editor--p {
  font-family: 'Montserrat';
  font-weight: 300;
  color: rgb(65, 65, 65);
}

/* Empty home */
#empty-home-title {
  font-family: 'Montserrat';
  font-size: 45px;
  font-weight: 700;
  position: fixed;
  top: 14rem;
  left: 25rem;
  color: rgb(55, 55, 55);
}

#empty-home-text {
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 300;
  position: fixed;
  top: 20rem;
  left: 25rem;
}

#empty-home-text-2 {
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 300;
  position: fixed;
  top: 22rem;
  left: 25rem;
}

#empty.Button {
  background-color: rgb(6, 1, 60);
  position: fixed;
  top: 29rem;
  left: 11.5rem;
}

/* Home cards */

.profile-card {
  position: fixed;
  top: 15vh;
  left: 4vw;
  height: 70vh;
  width: 20vw;
  overflow: hidden;
  border-style: solid;
  border-width: 0.3vh;
  border-color: black;
}

.item-container {
  margin-left: 16vw;
  margin-top: -9vh;
}

.item-card {
  height: 32vh;
  width: 62vw;
  margin-bottom: 4vh;
  border-radius: 10px;
}

.item-card:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.1); 
}

.item-card-date-box {
  width: 15vw;
  height: 29vh;
  padding-top: 2vh;
}

.item-card-day {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 12vh;
  margin-top: 15%;
  vertical-align: middle;
  color: rgba(130, 130, 130, 0.529);
}

.item-card-month-and-year {
  
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 300;
  font-size: 2.5vh;
  margin-top: -40%;
  color: rgb(130, 130, 130);
}

.item-card-title {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 4vh;
  margin-top: -22%;
  margin-left: 15vw;
  text-align: left;
  color:rgb(85, 85, 85);

}

.item-card-body {
  text-align: justify;
  font-family: 'Montserrat';
  font-weight: 300;
  margin-right: 2vw;
  margin-left: 15vw;
  line-height: 1.5;
  color:rgb(75, 75, 75);

}

.list-title {
  font-family: 'Montserrat';
  text-align: left;
  color:rgb(85, 85, 85);
}

.list-title-underscore {
  width: 4vw;
  margin-top: -2vh;
  border-top-style: solid;
  border-top-width: 1px;
  color:rgb(85, 85, 85);
}

.Text {
  font-weight: 300;
  font-style: italic;
  margin-bottom: 1.5rem;
}

.Button {
  height: 2rem;
  width: 8rem;
  margin-left: 13.5rem;
  padding-top: 0.7rem;
  border-radius: 0.3rem;
  background-color: rgba(255, 250, 212, 0.745);
  box-shadow: 0 0 10px rgba(0,0,0,0.2); 
}

.Button-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  margin-top: 0rem;
  color: white;
}

.small-circle-container {
  top: 1.25rem;
  right: 5rem;
  width: 2.5rem; 
  height: 2.5rem; 
  border-radius: 1.25rem;
  background-color: rgb(199, 199, 199); 
  position: fixed;
}

#profile-image {
  height: 8vh;
  width: 8vh;
  border-radius: 4vh;
}

#Header {
  z-index: 2;
  font-size: 24px; 
  width: 100%; 
  height: 5rem; 
  background-color: white; 
  position: fixed;
  text-align: center;
}

#Header.active {
  box-shadow: 0 0 10px rgba(0,0,0,0.15);   
}

#Modal-Image {
  height: 25rem;
  width: 38rem;
  position: fixed;
  top: 10rem;
}

#Header-Image {
  height: 1.8rem;
  width: 10rem;
  position: fixed;
  top: 1.5rem;
  left: 2.5rem;
}

#home-add-entry-circular-button {
  z-index: 2;
  bottom: 4rem;
  right: 5rem;
  width: 3rem; 
  height: 3rem; 
  border-radius: 1.5rem;
  background-color: white; 
  position: fixed;
  box-shadow: 0 0 10px rgba(0,0,0,0.1); 
}

#home-add-entry-circular-button-icon {
  margin-top: 0.58rem;
}

#editor-circular-button {
  z-index: 2;
  top: 4rem;
  left: 8rem;
  width: 3rem; 
  height: 3rem; 
  border-radius: 1.5rem;
  background-color: white; 
  position: fixed;
  box-shadow: 0 0 10px rgba(0,0,0,0.1); 
}

#editor-circular-button.active {
  box-shadow: 0 0 10px rgba(0,0,0,0.15);   
}

#editor-circular-button-icon {
  margin-top: 0.75rem;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
